.aside {
  display: flex;
  background-color: #ffffff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
  grid-column: 2/3;
  padding: 1.25rem .3125rem .625rem;
  height: 34.375rem;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: space-between;
  width: 30%;

  @media (max-width: 48rem) {
    display: none;
  }

  @supports (display: grid) {
    width: auto;}
}

.aside-title {
  color: #2f2f2a;
  font-family: "Open Sans";
  font-size: 1rem;
  font-weight: 700;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 1.625rem;
}

// MESSAGE
.message-area {
  padding: 0 .625rem;
}

.message {
  display: flex;
  margin-bottom: 1rem;

  &__user-icon {
    display: flex;
    align-items: center;
    border: .0625rem solid #787727;
    border-radius: 50%;
    flex-shrink: 0;
    height: 1.5625rem;
    justify-content: center;
    margin-right: 1rem;
    overflow: hidden;
    width: 1.5625rem;
    img{
      width: 100%;
      height: 100%;
    }
  }

  &__inner {
    flex-grow: 1;
  }

  &__text {
    color: #2f2f2a;
    font-family: "Open Sans";
    font-size: 0.6875em;
    font-weight: 400;
    margin-bottom: .3125rem;
    margin-top: .3125rem;
  }

  &__time {
    color: #2f2f2a;
    font-family: "Open Sans";
    font-size: 0.5625em;
    font-weight: 400;
    margin-left: auto;
    margin-right: .625rem;
    text-align: right;
    text-transform: uppercase;
  }
}

.user-message {
  .message__user-icon {
    margin-left: 1rem;
    margin-right: 0;
    order: 2;
  }

  .message__inner {
    padding-left: .625rem;
  }
}

.message-input {
  resize: none;
  width: 100%;
  box-sizing: border-box;
  color: #2f2f2a;
  font-family: "Open Sans";
  font-size: 0.6875em;
  font-weight: 400;
  margin-bottom: .3125rem;
}

.message-form {
  &__bottom {
    display: flex;
    align-items: center;
  }

  &__smiles {
    width: 1.4375rem;
    height: 1.4375rem;
    margin-left: .3125rem;
    margin-right: 1.25rem;
    @include retina("../img/smile.png", 3, cover, no-repeat);
    &:hover {
      cursor: pointer;
    }
  }

  &__button {
    margin-left: auto;
    width: 6.5625rem;
    height: 2.0625rem;
    background-color: #e2c522;
    color: #2f2f2a;
    font-family: "Open Sans";
    font-size: 0.75rem;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
    &:hover {
      background: lighten($color: #e2c522, $amount: 5%);
    }
  }
}

.file-upload {
  display: none;

  &__label {
    width: 1.125rem;
    height: 1.25rem;
    @include retina("../img/attachment-icon.png", 3, cover, no-repeat);
    &:hover {
      cursor: pointer;
    }
  }
}

// CAHT FOR MOBILE
.message-area_mobile {
  display: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 1.25rem;

  @media (max-width: 48rem) {
    display: block;
  }
}
