@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&subset=cyrillic");

@font-face {
  font-family: "Neucha";
  src: url("../fonts/Neucha/Neucha.eot");
  src: local("Neucha"),
    url("../fonts/Neucha/Neucha.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Neucha/Neucha.woff") format("woff"),
    url("../fonts/Neucha/Neucha.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Timotheos";
  src: url("../fonts/Timoteo/Timotheos.woff2") format("woff2"),
    url("../fonts/Timoteo/Timotheos.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
