footer {
  background-color: #060606;
}

.footer-bg {
  opacity: 0.75;
  padding: 3.125rem 0 6.875rem;
  @include retina("../img/footer-bg.png", 3, cover, no-repeat);
}

.footer__inner {
  display: flex;
  justify-content: space-between;
}

.footer-title {
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 1.375rem;
  font-weight: 800;
  text-transform: uppercase;
  margin: 2.5rem 0 0;
}

// footer links
.footer-links {
  display: flex;
  border-bottom: .0625rem solid #fff;
  max-width: 31.25rem;
  justify-content: center;
  padding: 2.8125rem 0;
  @supports (flex-grow: 1) {
    flex-grow: 1;
}
}

.footer-links__list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.footer-links__item {
  &:hover {
    opacity: 0.75;
  }
  &:not(:last-child) {
    margin-bottom: 1.5625rem;
  }
}

.footer-links__item-link {
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

.footer-links__item-link {
  display: flex;
  align-items: center;
}

.footer-links__phone-logo {
  margin-right: 1.5625rem;
  width: 3.25rem;
  height: 2.25rem;
  @include retina("../img/phone-icon.png", 3, contain, no-repeat);
}

.footer-links__mail-logo {
  margin-bottom: .625rem;
  margin-right: 1.5625rem;
  width: 3.25rem;
  height: 3rem;
  @include retina("../img/mail-footer-icon.png", 3, contain, no-repeat);
}

// footer nav
.footer-nav__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-nav__item {
  text-align: right;
  &:not(:last-child) {
    margin-bottom: 1.875rem;
  }
}

.footer-nav__link {
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  &:hover {
    opacity: 0.75;
  }
}

@media (max-width: 50rem) {
  .footer__inner {
    flex-wrap: wrap;
  }

  .footer-logo__wrapper {
    width: 100%;
    margin-bottom: 1.875rem;
  }

  .footer-logo__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-title {
    margin-top: 1.25rem;
    text-align: center;
  }

  .footer-links {
    padding: 0;
    flex-grow: 0;
    border-bottom: none;
  }
}

@media (max-width: 37.5rem) {
  .footer__inner {
    justify-content: center;
  }

  .footer-links {
    margin-bottom: 1.875rem;
  }

  .footer-nav__item {
    text-align: center;
  }
}
