.page-header {
  background: url(../img/header-bg.jpg);
  background-size: cover;
}

// header top
.header-top {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 5rem;
  padding-top: 2.1875rem;
}

.logo__link {
  &:hover {
    opacity: 0.75;
  }
}

// header nav block
.header-nav {
  display: flex;
  grid-column: 2/3;
  justify-content: center;
}

.header-nav__list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header-nav__item {
  margin: 0 1.562rem;
  &:first-child {
    margin-left: 0;
  }
  &:last-child {
    margin-right: 0;
  }
}

.header-nav__icon {
  height: 1.875rem;
  width: 1.875rem;
  &:hover {
    opacity: 0.75;
  }
}

.header-nav__icon_wallet {
  @include retina(
    "../img/wallet-icon.png",
    3,
    contain,
    center center no-repeat
  );
}

.header-nav__icon_info {
  @include retina("../img/info-icon.png", 3, contain, center center no-repeat);
}

.header-nav__icon_mail {
  @include retina("../img/mail-icon.png", 3, contain, center center no-repeat);
}

// user info block
.user-info {
  display: flex;
  grid-column: 3/4;
  align-items: center;
  justify-content: flex-end;

  &__icon {
    border-radius: 50%;
    flex-shrink: 0;
    height: 4.0625rem;
    overflow: hidden;
    width: 4.0625rem;
  }

  &__text {
    color: #fff;
    font-family: 'Open Sans';
    font-size: 1rem;
    font-style: italic;
    font-weight: 600;
    margin-right: 1.25rem;
  }

  &__image {
    width: 100%;
    height: 100%;}
}

// header banner
.header-banner {
  text-align: center;
  &__image {
    max-width: 100%;
  }
}

// header advertisement
.header-advertisement {
  &__wrapper {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    flex-direction: column;
    margin: 0 auto;
    max-width: 100%;
    padding: 2.5rem 2.8125rem;
    width: 29.0625rem;
    @include retina("../img/header-advertisement-bg.png", 3, cover, center);
  }

  &__text {
    max-width: 100%;
    color: #48452a;
    font-family: 'Neucha';
    font-size: 1.125rem;
    font-weight: 400;
    margin-bottom: 1.562rem;
    transform: rotate(-3deg);
  }

  &__link {
    &:hover {
      opacity: 0.75;
    }
  }

  &__link-image {
    max-width: 100%;
  }
}

@media (max-width: 53.125rem) {
  .header-top {
    grid-template-columns: repeat(2, 1fr);
  }

  .header-nav {
    grid-column: 2/3;
    grid-row: 2/3;
    justify-content: flex-end;
  }

  .user-info {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-bottom: 1rem;
  }

  .logo__link {
    grid-column: 1/2;
    grid-row: 1/3;
  }
}

@media (max-width: 34.375rem) {
  .header-top {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .header-nav {
    order: 2;
  }

  .logo__link,
  .user-info {
    margin-bottom: 1rem;
  }
}
