.main {
    background: #fbfbf8;
}

.main-wrapper {
    padding: 6.25rem 1rem 5.625rem;
}

.main-title {
    color: #4a462b;
    font-family: Neucha;
    font-size: 2.1875rem;
    font-weight: 400;
    margin: 0 0 1.4rem;
    text-align: center;
    text-transform: uppercase;
    &:hover {
        text-shadow: 0px 0px 3px blue, 0 0 50px yellow;
    }
}

.main__inner {
    display: flex;
    justify-content: space-between;

    @supports (display: grid) {
        display: grid;
        grid-column-gap: 1.875rem;
        grid-template-columns: auto 16.875rem;
    }

    @media (max-width: 48rem) {
        display: block;
    }
}

//@supports (display: grid) {
//    .main__inner {
//        display: grid;
//        grid-column-gap: 1.875rem;
//        grid-template-columns: auto 16.875rem;
//    }
//}

// TASKS

.tasks{
    width: 70%;
    margin-right: 2rem;
    @supports (display: grid) {
        width: auto;
        margin-right: 0;
    }
}


@supports (display: grid) {
    .tasks {
        grid-column: 1/2;
    }
}


.tasks-title {
    background: #fff;
    color: #b1b0a8;
    font-family: "Open Sans";
    font-size: 1.0625rem;
    font-weight: 700;
    margin: 0 0 .125rem 0;
    padding: .125rem 0;
    text-align: center;
    text-transform: uppercase;
}

// TASK HEADER
.tasks-header {
    display: flex;
    background: #fff;
    justify-content: space-between;
    margin-bottom: 1.875rem;
    padding: .625rem 1.25rem .625rem;
    flex-wrap: wrap;

    @media (max-width: 41.875rem) {
        flex-direction: column;
    }
}

// TASK FILTER
.tasks-filter {
    display: flex;

    @media (max-width: 68.75rem) and(min-width: 48.0625rem) {
        width: 100%;
        margin-bottom: 1rem;
    }

    @media (max-width: 56.25rem) {
        flex-wrap: wrap;
    }

    @media (max-width: 41.875rem) {
        margin-bottom: 1rem;
    }

    @media (max-width: 26.25rem) {
        flex-direction: column;
    }
}

// LOCATION FILTER
.location-filter {
    display: flex;
    align-items: center;
    margin-right: 1.875rem;
    @media (max-width: 26.25rem) {
        margin-bottom: 1rem;
    }

    &__label {
        color: #2f2f2a;
        font-family: "Open Sans";
        font-size: 1rem;
        font-weight: 400;
        margin-right: 1rem;
    }

    &__wrapper {
        display: flex;
        position: relative;
        &::after {
            display: block;
            position: absolute;
            top: 0;
            top: .5625rem;
            right: 0;
            right: .6875rem;
            content: "";
            height: .625rem;
            width: .625rem;
            @include retina("../img/down-arrow-icon.png", 3, cover, no-repeat);
        }
    }

    &__select {
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        background-color: #ffffff;
        border: .0625rem solid #767363;
        color: #2f2f2a;
        font-family: "Open Sans";
        font-size: 1rem;
        font-weight: 400;
        height: 1.75rem;
        width: 17.375rem;
        padding: 0 .625rem;
        box-sizing: border-box;
        @media (max-width: 56.25rem) {
            width: 7.5rem;
        }
        &::-ms-expand {
            display: none;
        }
    }
}

// THEME FILTER
.theme-filter {
    display: flex;
    align-items: center;
    &:hover {
        cursor: pointer;
    }

    &__text {
        margin-right: .5rem;
    }
}

.arrow-down-icon {
    height: .625rem;
    width: .625rem;
    @include retina("../img/down-arrow-icon.png", 3, cover, no-repeat);
}

// ADD TASK BUTTON
.add-task-buton {
    background-color: #e2c522;
    border: none;
    color: #2f2c17;
    font-family: "Open Sans";
    font-size: 0.875rem;
    font-weight: 700;
    height: 1.75rem;
    text-transform: uppercase;
    width: 14rem;
    &:hover {
        background-color: lighten($color: #e2c522, $amount: 5%);
    }

    @media (max-width: 68.75rem) {
        margin-left: auto;
    }

    @media (max-width: 41.875rem) {
        margin-left: 0;
    }
}

// TASK LIST
.task__list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.task__item {
    background-color: #ffffff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
    padding: .9375rem 1.25rem 1.875rem 1.875rem;
}

.task {
    display: grid;
    grid-column-gap: 1rem;
    grid-template-columns: repeat(9, 1fr);
    margin-bottom: .75rem;

    @media (max-width: 68.75rem) {
        grid-template-columns: 1fr;
    }

    @media (max-width: 48rem) {
        margin-bottom: 1.25rem;
    }
}

.task_active {
    position: relative;
    &:before {
        position: absolute;
        right: -0.3125rem;
        bottom: 1.875rem;
        content: "";
        width: .625rem;
        height: .625rem;
        box-shadow: 0.0625rem 0 0.3125rem rgba(0, 0, 0, 0.35);
        transform: rotate(45deg);
        background: #fff;
    }
    &:after {
        position: absolute;
        right: 0;
        bottom: 1.5625rem;
        content: "";
        width: .625rem;
        height: 1.25rem;
        background: #fff;
    }

    @media (max-width: 48rem) {
        &:before {
            position: absolute;
            top: calc(100% - .3125rem);
            right: 1.875rem;
            content: "";
            width: .625rem;
            height: .625rem;
            box-shadow: .0625rem 0 .3125rem rgba(0, 0, 0, 0.35);
            transform: rotate(45deg);
            background: #fff;
        }
        &:after {
            position: absolute;
            right: 1.5625rem;
            bottom: 0;
            content: "";
            width: 1.25rem;
            height: .625rem;
            background: #fff;
        }
    }

    .chat__status::after {
        @include retina("../img/right-arrow-icon.png", 3, cover, no-repeat);
    }
}

// TASK INFO
.task-info {
    color: #2f2f2a;
    font-family: "Open Sans";
    font-size: 1rem;
    font-weight: 700;
    grid-column: 1/7;
    text-transform: uppercase;
    @media (max-width: 68.75rem) {
        grid-column: initial;
        margin-bottom: 1rem;
    }

    &__text {
        color: #2f2f2a;
        font-family: "Open Sans";
        font-size: 0.875rem;
        font-weight: 400;
        text-transform: initial;
    }

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1.25rem;
    }

    &__price {
        display: flex;
    }
}

.price-icon {
    height: 1.3125rem;
    margin-right: .5rem;
    width: .6875rem;
    @include retina("../img/price-icon.png", 3, cover, no-repeat);
}

// TASK ACTIONS
.task-actions {
    grid-column: 8/10;
    @media (max-width: 68.75rem) {
        display: flex;
        grid-column: initial;
        align-items: center;
        justify-content: space-between;
    }

    @media (max-width: 48.125rem) {
        flex-wrap: wrap;
    }
}

.bet {
    display: flex;
    align-items: flex-end;
    margin-bottom: 2.5rem;
    &:hover {
        opacity: 0.75;
        cursor: pointer;
    }

    @media (max-width: 68.75rem) and(min-width: 48.0625rem) {
        width: 100%;
    }
    @media (max-width: 68.75rem) {
        margin-bottom: 0;
    }

    @media (max-width: 48.125rem) {
        margin-bottom: 1rem;
    }

    &__icon {
        flex-shrink: 0;
        height: 1.3125rem;
        width: 1.25rem;
        @include retina("../img/bet-icon.png", 3, cover, no-repeat);
    }

    &__text {
        color: #2f2f2a;
        font-family: "Open Sans";
        font-size: 1rem;
        font-weight: 700;
        margin-left: .625rem;
        text-transform: uppercase;
    }
}

.chat {
    display: flex;
    align-items: center;
    &:hover {
        opacity: 0.75;
        cursor: pointer;
    }

    @media (max-width: 68.75rem) {
        margin-right: .75rem;
    }

    @media (max-width: 48.125rem) {
        margin-bottom: .75rem;
    }

    &__icon {
        flex-shrink: 0;
        height: 1.3125rem;
        width: 1.3125rem;
        @include retina("../img/chat-icon.png", 3, cover, no-repeat);
    }

    &__text {
        color: #2f2f2a;
        font-family: "Open Sans";
        font-size: 1em;
        font-weight: 700;
        margin-left: .625rem;
        text-transform: uppercase;
    }

    &__status {
        display: flex;
        position: relative;
        align-items: center;
        background-color: #787727;
        height: .0625rem;
        width: 2.375rem;
        margin-left: 2.8125rem;
        &:after {
            display: block;
            position: absolute;
            left: calc(100% + .3125rem);
            content: "";
            height: .8125rem;
            width: .4375rem;
            @include retina("../img/left-arrow-icon.png", 3, cover, no-repeat);
        }
    }
}

// PAGINATOR
.paginator {
    display: flex;
    list-style: none;
    align-items: center;
    padding: 0;
    margin-left: 6.25rem;

    @media (max-width: 48rem) {
        justify-content: center;
        margin-left: 0;
    }

    &__item {
        height: 1.875rem;
        width: 1.875rem;
        border: .0625rem solid #3f3c27;
        box-sizing: border-box;
        border-radius: 50%;
        overflow: hidden;
        &:not(:last-child) {
            margin-right: 1rem;
        }
    }

    &__link {
        display: flex;
        color: #2f2c17;
        font-family: "Open Sans";
        font-size: 1rem;
        text-transform: uppercase;
        text-decoration: none;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        &:hover {
            font-weight: bold;
        }
        &_active {
            background: #000;
            color: #fff;
            &:hover {
                font-weight: normal;
            }
        }
    }

    &__line {
        width: 1.125rem;
        height: .0625rem;
        border: .0625rem dotted #d5d4cd;
        background: #787727;
        margin-left: .25rem;
        margin-right: 1.25rem;
    }
}

.bottom-article {
    &__title {
        text-align: center;
    }
    &__text {
        column-count: 3;
        column-gap: 5rem;
        column-rule-width : 1px;
        column-rule-color: #ccc;
        column-rule-style: solid;

        @media (max-width: 62rem) {
            column-count: 2;
        }
        @media (max-width: 36rem) {
            column-count: 1;
        }
    }
}
