.offline-header {
  overflow: hidden;
  min-height: 100vh;

  .header-top {
    display: flex;
    justify-content: space-between;
    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  .logo__link {
    @media (max-width: 768px) {
      align-self: center;
      margin-bottom: 1em;
    }
  }

  // NAV
  .offline-nav {
    @media (max-width: 768px) {
      align-self: flex-end;
    }

    &__list {
      display: flex;
      position: relative;
      list-style: none;
      margin-right: 70px;
      padding: 0;
      border-top: 2px solid #fff;
      &:after {
        position: absolute;
        bottom: 100%;
        left: 100%;
        content: "";
        height: 2px;
        width: 2000px;
        background: #fff;
      }
      @media (max-width: 576px) {
        margin-right: 0;
      }
    }

    &__link {
      color: #ffffff;
      font-family: "Open Sans";
      font-size: 16px;
      font-weight: 800;
      text-transform: uppercase;
      text-decoration: none;
    }

    &__item {
      position: relative;
      right: 32px;
      margin-right: 80px;
      padding-top: 18px;
      &:after {
        position: absolute;
        top: 0;
        right: 50%;
        content: "";
        width: 2px;
        height: 5px;
        background-color: #fff;
      }
      &:hover {
        padding-top: 30px;
        &:after {
          height: 16px;
        }
      }
      @media (max-width: 576px) {
        margin-right: 40px;
      }
    }
  }

  .header-banner {
    margin-bottom: 75px;
  }

  // LOGIN FORM

  .login-form {
    display: flex;
    margin-bottom: 75px;

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: center;
    }

    &__email,
    &__password {
      flex: 1;
      margin-right: 30px;
      height: 38px;
      box-shadow: inset -5px -3px 21px rgba(0, 0, 0, 0.14);
      background-color: #ffffff;
      border: none;
      padding: 0 10px;
      color: #000000;
      font-family: "Open Sans";
      font-size: 14px;
      font-weight: 600;
      @media (max-width: 768px) {
        margin-bottom: 1em;
        margin-right: 0;
        width: 60%;
      }
      @media (max-width: 576px) {
        width: 80%;
      }
    }

    &__button {
      width: 170px;
      flex-shrink: 0;
      height: 40px;
      background-color: transparent;
      background-size: cover;
      background-repeat: no-repeat;
      background-image: url(../img/button-bg.svg);
      border: none;
    }
  }

  .offline-advert {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;

    &__text {
      color: #f4f4f4;
      font-family: Timotheos;
      font-size: 20px;
      font-weight: 400;
      text-align: center;
      margin-bottom: 20px;
    }
  }
}
